^ContentPage {
    background-color: #EEF9FC;
}

^Button {
    background-color: #335470;
    color: #fff;
}

^Picker {
    background-color: #335470;
    color: #fff;
}

.Card {
    padding: 5;
    border: solid #335470;
    border-width: 2;
    margin: 5;
}

.PetCard {

}

.CollectionCard {
    border-radius: 8;
}

.DonateButton {
    background-color: #19c468;
}